<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ScrapyRBK</title>
</head>
<body>
<div>
    <table>
        <tr>
            <td>
                <form action="/news" method="POST">
                    <input type="submit" value="Новости">
                </form>
            </td>
            <td>
                <form action="/articles" method="POST">
                    <input type="submit" value="Статьи">
                </form>
            </td>
        </tr>
        <tr>
            <td>
                <form action="/donwload_news" method="POST">
                    <input type="submit" value="Скачать новости .txt">
                </form>
            </td>
            <td>
                <form action="/donwload_articles" method="POST">
                    <input type="submit" value="Скачать статьи .txt">
                </form>
            </td>
        </tr>
    </table>
</div>
</body>
</html>